<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!-- 🔐 Application Settings -->
	<appSettings>
		<add key="SenderEmail" value="medventory.notification@gmail.com" />
		<add key="SenderPassword" value="hbnn upxn suca shzb" />
		<add key="SuperAdminEmail" value="ahyanromano02@gmail.com" />
	</appSettings>

	<!-- 🌐 Database Connection String -->
	<connectionStrings>
		<add name="SupabaseConnection"
			 connectionString="Host=aws-1-ap-southeast-1.pooler.supabase.com;Username=postgres.okexwfjhcijqblmzzgxq;Password=DCsID1gqH6Egkv7p;Database=postgres" />
	</connectionStrings>

</configuration>
